/* Sign Up */
.projectFormContainer {
    display: flex;
}

.projectForm {
    margin: 30px auto;
}

/* How To Enter*/

.steps {
    margin: 50px 0;
}

.number-container {
    margin: 0 20px;
    text-align: right;
}

.steps img {
    width: 30px;
}

.steps-container p {
    margin: 0;
    justify-items: center;
}

.step-info-container a {
    color: #5cd9d8;
    text-decoration-color: #5cd9d8;
}

#free-account {
    font-style: italic;
}

/* Project Resource */

.resource-row {
    margin-top: 35px;
}

.resource-card {
    background: #f2f2f3;
    border-radius: 15px;
    margin: 20px auto;
    padding: 40px;
    width: 90%;
}
