/* Sign Up */
.projectForm {
    color: #5cd9d8;
    text-align: center;
}

.projectFormInput {
    background: #f2f2f3;
    margin: 50px auto 20px;
    width: 40%;
}

.projectFormInput:focus {
    background: #f2f2f3;
    border-color: #ced4da;
    box-shadow: none !important;
    outline: none !important;
}

.projectRadio {
    margin: 0 auto;
    text-align: center;
}


/* How To Enter*/

.steps {
    margin: 50px 0;
}

.number-container {
    margin: 0 20px;
    text-align: right;
}

.steps img {
    width: 30px;
}

.steps-container p {
    margin: 0;
    justify-items: center;
}

.step-info-container a {
    color: #5cd9d8;
    text-decoration-color: #5cd9d8;
}

#free-account {
    font-style: italic;
}

/* Project Resource */

.resource-row {
    margin-top: 35px;
}

.resource-card {
    background: #f2f2f3;
    border-radius: 15px;
    margin: 20px auto;
    padding: 40px;
    width: 90%;
}
