.steps {
    margin: 50px 0;
}

.number-container {
    margin: 0 20px;
    text-align: right;
}

.steps img {
    width: 30px;
}

.steps-container p {
    margin: 0;
    justify-items: center;
}

.step-info-container a {
    color: #5cd9d8;
    text-decoration-color: #5cd9d8;
}

#free-account {
    font-style: italic;
}