#screen-one {
  padding: 44px 120px 140px 120px;
}

#screen-one .screen-one-section h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* Primal brand color */

  color: #5cd9d8;
  margin-bottom: 16px;
}

#screen-one .screen-one-section h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  /* equivalent to 56px */
  line-height: 64px;
  /* or 114% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  /* Text primal */

  color: #2e384d;
  margin-bottom: 16px;
}

#screen-one .screen-one-section p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  /* Text primal */

  color: #2e384d;
  opacity: 0.8;
  margin-bottom: 32px;
}

.action-button {
  background: #5cd9d8 !important;
  border: #5cd9d8 !important;
  /* Shadow green */

  box-shadow: 0px 4px 16px rgba(36, 178, 177, 0.16);
  border-radius: 10px !important;

  font-style: normal;
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 28px;
  /* identical to box height, or 140% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
  padding: 18px 62px !important;

  /* White Base */

  color: #ffffff !important;
  outline: none !important;
  background-image: linear-gradient(#ff725e, #ff725e) !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  background-size: 0% 100% !important;
  transition: background-size 0.3s, color 0.5s !important;
  position: relative;
}

.action-button:hover {
  color: #fff !important;
  background-size: 100% 100% !important;
}

.overview-message-img {
  width: 100%;
}

.screen-one-message {
  max-width: 612px;
}

.screen-one-section .screen-one-message {
  display: flex;
  align-items: center;
}
