.outcomes-body {
  background-image: url('../../../../assets/Polygon4.svg');
  background-repeat: no-repeat;
  background-position-y: 300px;
}

/* /////////////////// */
/* MAIN MESSAGE */
/* /////////////////// */

.messageContainer {
    align-items: center;
    background-image: url('../../../../assets/screen-one.svg');
    display: flex;
    justify-content: space-around;
    padding: 44px 80px 0;
    margin-left: 20px; 
}

.message {
    align-self: center;
    max-width: 615px;
}

.message h5 {
    color: #5CD9D8;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
    text-transform: uppercase;
}

.message h1 {
    color: #2E384D;
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
    margin: 16px 0;
}

.message h4 {
    color: #2E384D;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin: 15px 0;
    opacity: 0.8;
}

.messageImage {
    height: 617px;
    width: 683px;
}

.demo-button {
    align-self: center;
    background-color: #5cd9d8;
    box-shadow: 0px 4px 16px rgba(36, 178, 177, 0.16);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 25px;
    outline: none !important;
    padding: 18px 30px;
    width: 240px;
    /* transition setting */
    background-image: linear-gradient(#ff725e, #ff725e) !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 0% 100% !important;
    transition: background-size 0.3s, color 0.5s !important;
    position: relative;
}

.demo-button a {
    color: #ffffff;
    text-decoration: none;
}

.demo-button:hover {
    border: none !important;
    color: #fff !important;
    background-size: 100% 100% !important;
}

/* /////////////////// */
/* FEATURES */
/* /////////////////// */

.featuresContainer {
    background-image: url('../../../../assets/screen-one.svg');
    background-position-y: 100px;
    background-position-x: -50px;
    margin-top: 100px;
}

.featuresContainer h2 {
    color: #5cd9d8;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
    text-transform: uppercase;
    text-align: center;
}

.row1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 84px;
  margin-top: 16px;
}

.feature-container-description {
  display: flex;
}

.feature-container-description p {
  text-align: left;
  max-width: 588px;
  word-wrap: break-word;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.01em;
  color: #2e384d;
}

.feature-container {
  display: flex;
}

.feature1 {
  left: 222px;
}

.feature-container2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 84px;
}

.feature-container3 {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

/* /////////////////// */
/* BENEFITS */
/* /////////////////// */

.benefitRow {
    color: #2E384D;
    justify-content: space-between;
    letter-spacing: 0.01em;
}

.benefitLeft {
    align-content: center;
    font-weight: 500;
}

.benefitCol h3 {
    color: #5CD9D8;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.benefitCol h1 {
    font-size: 32px;
    line-height: 42px;
    margin-top: 16px;
}

.benefitRight {
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefitRight img {
    display: inline-block;
    margin-right: 7px;
    width: 30px;
}

.benefitRight h5 {
    display: inline;
    font-size: 20px;
    font-weight: 500;
    line-height:24px;
}

.benefitRight p {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.5;
}

.benefitCol {
    margin-bottom: 44px;
}

/* /////////////////// */ 
/* DEMO BOX */
/* /////////////////// */

.demoMessage {
    background-image: url('../../../../assets/rectangle.png');
    border-radius: 0 !important;
    height: 461px;
    margin-top: 100px;
    text-align: center;
}

.demoMessage h1 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 56px;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 0 200px;
}


/* ///////////////////// */
/* RESPONSIVE */
/* ///////////////////// */


@media screen and (max-width: 600px) {

    .messageContainer {
        padding: 0;
    }

    .message h1 {
        font-size: 40px;
    }

    .messageImage {
        height: 405px;
        width: 440px;
    }

    .demo-button{
        font-size: 18px;
        padding: 20px;
        margin: 20px 100px 30px !important;
        /* width: 200px; */
    }

    .benefitRow {
        margin: 20px 0 20px 30px !important;
    }

    .demoMessage h1 {
        font-size: 30px;
        margin: 40px auto;
        padding: 0;
    }
}