#screen-five {
  padding: 0px 120px;
  margin-bottom: 187px  ;
}

.company-section {
  max-width: 571px;
}

.company-section h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* Primal brand color */

  color: #5cd9d8;
}

.company-section h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.01em;

  /* Text primal */

  color: #2e384d;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.companies-section-logos img {
  max-width: 150px;
  height: 48px;
  margin: 4px 20px;
}


/* ///////////////////// */
/* RESPONSIVE */
/* ///////////////////// */


@media screen and (max-width: 600px) {

  #screen-five {
    margin: 80px auto;
    padding: 0 25px;
  }

  .company-section h3 {
    font-size: 35px;
    margin-top: 30px;
  }

  .company-logo-container {
    margin: 60px 30px;
  }

}