/* /////////////////////////// */
/* HELP CENTER MAIN PAGE */
/* /////////////////////////// */

.helpRoot {
    background-image: url('../../assets/screen-one.svg');
    background-position-x: 50px;
    /* margin-left: 50px; */
    margin: 0 auto;
}

.helpContainer {
    margin-bottom: 180px;
}

.helpRow {
    align-items: center;
    justify-content: space-between;
}

.helpRow h5 {
    color: #5CD9D8;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

.helpRow h1 {
    color: #2E384D;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 64px;
    margin: 16px 0 20px;
}

.searchInput {
    width: 500px !important;
}

.searchForm {
    background-color: #f7f8fa !important;
    border: none !important;
    border-radius: 5px !important;
    height: 48px !important;
}

.searchForm::placeholder {
    color: black !important;
    font-size: 16px !important;
    opacity: 0.5 !important;
}

.searchForm:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.searchButton {
    background-color: #5CD9D8 !important;
    border: none !important;
    height: 48px;
    outline: none !important;
    width: 48px;
}

.searchButton:focus {
    box-shadow: none !important;
    outline: none !important;
}

.questionList {
    list-style: none !important;
    margin: 50px 0;
    padding: 0;
}

.questionList li {
    margin: 25px;
}

.questionList a {
    color: #2E384D !important;
    text-decoration: none !important;
}

.questionList a:hover {
    color: #5CD9D8 !important;
}

.noResults {
    font-size: 25px !important;
    width: 500px !important;
}


/* /////////////////////////// */
/* HELP RESULTS*/
/* /////////////////////////// */

.resultsRoot {
    background-image: url('../../assets/screen-one.svg');
    background-position-x: 50px;
    background-position-y: 250px;
    margin: 50px auto 0;
}

.backButton {
    color: #FF725E !important;
    font-size: 16px !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.backButton i {
    margin-right: 6px;
}

.resultsCol h1 {
    color: #2E384D;
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
    margin: 30px 0;
}

.resultsCol h6 {
    background-color: white;
    color: #2E384D;
    font-size: 16px;
    line-height: 24px;
    margin: 30px auto 400px;
}


/* ///////////////////// */
/* RESPONSIVE */
/* ///////////////////// */


@media screen and (max-width: 600px) {

    .helpRoot, .resultsRoot {
        margin: 50px 20px 0;
    }

    .helpContainer h1, .resultsContainer h1 {
        font-size: 40px;
    }

    .searchInput {
        width: 100% !important;
    }

    .helpImage {
        height: 405px;
        width: 440px;
    }

    .noResults {
        margin: 50px auto 100px !important;
    }

}
