.newsContainer {
    margin: 0 auto 125px;
}

.newsContainer h1 {
    font-size: 48px;
    letter-spacing: 0.01em;
    line-height: 57px;
    margin-bottom: 40px;
    text-align: center;
}

.newsRow {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.news-card1, .news-card2, .news-card3 {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(22, 22, 40, 0.12);
  border-radius: 10px;
  margin: 0 auto;
  padding: 24px;
  height: 100%;
  width: 100%;
}

.news-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
}

.news-description {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.8;
}

.news-card1 a, .news-card2 a, .news-card3 a {
    display: block;
    color: #FF725E !important;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 14px;
}

.news-image-col {
    padding: 0 0 0 47px;
}

.news-description a {
    display: inline !important;
    font-size: 18px;
}

.news-card1 img {
    display: block;
    height: auto;
    margin: 20px auto 0;
    max-width: 100%;

}

.news-card2 img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.news-card3 img {
    align-items: center;
    display: block;
    margin: 35px auto 0;
    max-width: 100%;
    height: auto;
}


/* ///////////////////// */
/* RESPONSIVE */
/* ///////////////////// */

@media screen and (max-width: 992px) {

    .news-card3 {
        margin-top: 25px;
    }


}


@media screen and (max-width: 600px) {

    .newsContainer {
        padding: 0 20px;
        margin-bottom: 280px;
    }

    .newsContainer h1 {
        font-size: 40px;
    }

    .news-content h2 {
        font-size: 30px;
    }

    .news-card1 {
        height: 480px;
        margin-bottom: 20px;
        width: 100%;
    }

    .news-image-col {
        padding: 0;
    }


}