#screen-four {
  padding: 120px;
}

.screen-four-col {
  align-self: center;
}

.sneak-peek-container {
  padding: 5.4897vh 5.4897vw;
}

.sneak-peek-container h2 {
  font-weight: 500;

  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* Primal brand color */

  color: #5cd9d8;
}

.sneak-peek-container h3 {
  font-weight: 500;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  /* Text primal */

  color: #2e384d;
}

.sneak-peek-container p {
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  /* Text primal */

  color: #2e384d;
  opacity: 0.5;
}

.demo-container {
  align-self: center;
}

.demo-container img {
  border: 3px solid #8798ad;
  /* big shadow */

  box-shadow: 5.14419px 5.14419px 10.2884px rgba(144, 146, 152, 0.2);
  border-radius: 10px;
}

.vertical-gap {
  height: 1vw;
}

/* ///////////////////// */
/* RESPONSIVE */
/* ///////////////////// */

@media screen and (max-width: 991px) {

  .screen-four-row2 {
    flex-direction: column-reverse;
  }

}


@media screen and (max-width: 600px) {
  #screen-four {
    margin: 0 auto;
    padding: 0 10px;
  }

  .demo-container img {
    margin: 0 auto !important;
    width: 100%;
  }

  .vertical-gap {
    height: 50px;
  }

  .screen-four-row2 {
    flex-direction: column-reverse;
  }

}
