.card {
    margin: 0 auto;
    padding: 0 20px;
    width: 85%;
}

.card-title {
 font-style: none;
}

.card-text {
    width: 75%;
}

.card hr {
    margin: 10px auto 30px;
    width: 100%;
}

.nav-item {
    margin-right: 40px;
}