/* Main Project Container */

.project-card {
    border: 1px solid #f2f2f3;
    border-radius: 15px;
    margin: 0 auto;
    padding: 50px;
    width: 85%;
}

.project-card-title {
 font-style: normal;
}

.project-card-text {
    width: 75%;
}

.project-card hr {
    margin: 10px auto 30px;
    width: 100%;
}

.nav-item {
    color: #6c757d;
    cursor: pointer;
    margin-right: 40px;
} 

.nav-click {
    border-bottom: 2px solid #5cd9d8;
    color: #5cd9d8;
    cursor: pointer;
    margin-right: 40px;
}