/* Main Project Container */
.project-container {
  background-image: url('../../assets/screen-one.svg');
}

.project-card {
  background: white;
  border: 1px solid #f2f2f3;
  border-radius: 15px;
  margin: 0 auto;
  padding: 50px;
  width: 85%;
}

.top-row {
  justify-content: space-between;
}

.project-card-title {
  color: #5cd9d8;
  font-size: 24px;
  font-style: normal;
  margin-bottom: 30px;
}

.project-card-text {
  margin: 30px 0;
  width: 75%;
}

.project-card hr {
  margin: 10px auto 30px;
  width: 100%;
}

.project-dates p {
  background: #e7f9f9;
  border-radius: 6px;
  color: #5cd9d8;
  font-size: 15px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
}

.project-share-container {
  box-shadow: 5.14419px 5.14419px 10.2884px rgba(144, 146, 152, 0.2);
  border-radius: 15px;
  border: 1px solid #f1f3f4;
  text-align: center;
}

.projects-share {
  cursor: pointer;
}

.spinner {
  margin-left: 16px;
}

.projects-share img,
.projects-share p {
  display: inline-block;
}

.projects-share p {
  font-size: 14px;
  padding-top: 5px;
}

.projects-share i {
  font-size: 22px;
  margin: 0 5px 10px;
}

.share {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.fa-envelope {
  color: #5cd9d8;
}

.fa-linkedin {
  color: #0077b7;
}

.nav-item {
  color: #6c757d;
  cursor: pointer;
  margin-right: 40px;
}

.nav-click {
  border-bottom: 2px solid #5cd9d8;
  color: #5cd9d8;
  cursor: pointer;
  margin-right: 40px;
}

/* Medium & small devices (992px and down) */
@media only screen and (max-width: 992px) {
  .project-share-container {
    display: none;
  }

  .project-card-text {
    width: 100%;
  }

  .nav-click,
  .nav-item {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1230px) {
  .project-share-container {
    padding: 0;
  }

  .share {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
