#footer-section {
  background-color: white;
}

.footerTerms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerLogo {
  text-align: center;
}

.footer-row {
  text-align: justify;
}

.footerCol {
  display: flex;
  justify-content: center;
}

.robinLogo {
  max-width: 120px;
}

.footerCol h6 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 16px;
}

.footerCol ul {
  list-style: none !important;
  padding: 0 !important;
}

.footerCol li {
  margin-bottom: 24px;
}

.footerCol a {
  color: #2e384d;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.8;
  text-decoration: none !important;
}

.footerCol a:hover {
  color: #2e384d;
  border-bottom: 2px solid #ff725e;
}

.footerContainer hr {
  margin: 65px 0 36px;
  width: 100%;
}

.footerTerms {
  font-size: 14px;
  line-height: 17px;
}

.footerTerms a {
  color: #2e384d;
  text-decoration: none !important;
}

#privacy,
#terms {
  max-width: 140px !important;
}

#social a {
  margin: 0 8px;
}

/* ///////////////////// */
/* RESPONSIVE */
/* ///////////////////// */
