/.testimonial-section {
  padding: 0px 120px;
  max-width: 800px;
  word-wrap: break-word;
}

.testimonial-section h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* White Base */

  color: #ffffff;
  margin-bottom: 16px;
  text-align: left;
}

.testimonial-section h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height, or 131% */
  letter-spacing: 0.01em;

  /* White Base */

  color: #ffffff;
  text-align: left;
}

.testimonial-section p {
  margin-top: 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  letter-spacing: 0.01em;
  max-width: 486px;

  /* White Base */

  color: #ffffff;
}

.testimonial-user {
  display: flex;
}

.testimonial-user img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 50%;
}

.testimonial-user p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  /* White Base */

  color: #ffffff;
  margin: auto 0;
}
