#screen-two {
  /* padding: 3.8751vh 23.896vh; */
  display: flex;
  justify-content: center;
  margin-bottom: 142px;
}

.feature-message-title {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.feature-message-title h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* Primal brand color */

  color: #5cd9d8;
}

.screen-two-row {
  display: flex;
  flex-direction: row;
}

.feature-message p {
  text-align: left;
  max-width: 588px;
  word-wrap: break-word;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.01em;
  color: #2e384d;
  padding: 0px 14px;
}

.feature-container {
  display: flex;
}

.feature1 {
  left: 222px;
}

.feature-container2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 84px;
}

.feature-container3 {
  display: flex;
  justify-content: flex-end;
}

/* ///////////////////// */
/* RESPONSIVE */
/* ///////////////////// */


@media screen and (max-width: 600px) {

    #screen-two {
      margin: 80px auto;
      padding: 0 25px;
    }

    .screen-two-row {
        flex-direction: column-reverse;
    }

    .feature-message p {
        font-size: 30px;
        margin: 40px auto;
    }

    .feature-container, .feature-container2, .feature-container3 {
      margin: 40px;;
    }
}